@import url('./__content/page__content.css');
@import url('./__section/page__section.css');

.page {
  background-image: url('../../images/back.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
